@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* slate-600 */
    border: 0 solid #475569;
}
.center {
display: grid;
    place-items: center;
}

.text-gradient {
@apply bg-gradient-to-tr from-primary-600 via-primary-500 to-violet-400 bg-clip-text text-transparent;
}

.animate-in {
    animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-800/60;
}

::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-slate-300/90 hover:bg-slate-300;
}